.divInfo{
    padding: 2rem;
    background-color:#fcf1f5;
}

.divInfo h1{
    font-weight: bold;
    padding: 1rem;
    text-align: center;
    
}

.badge{
    display: inline-block;
    padding: 0.2rem 0.8rem;
    border-radius: 30px;
    color: #77002e;
    margin-left: 0.5rem;
    background-color: #fcf1f5;
}



